# transilien SNCF - Exploration des données
> Prévision en temps réel de l'affluence à bord des trains

In [1]:
from utils import *
x_train, y_train, df = get_data()
df.head()

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091,0.216
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106,0.216
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111,0.227
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108,0.229
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096,0.225

## Représentation de la structure des données
structure simplifiée des données

<img src="../images/structure_simplifiée_des_données.png" alt="structure simplifiée des données" class="bg-primary" width="400px">

structure complète des données

<img src="../images/structure_complète_des_données.png" alt="structure complète des données" class="bg-primary" width="500px">

In [2]:
df.tail()

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
31114,2019-05-13,9,0,BE,08:00:00,2,0.152,0.18860,0.157000,0.080,0.100,NaN,0.111
31115,2019-05-14,9,0,BE,08:00:00,2,0.153,0.18040,0.191000,0.089,0.121,NaN,0.143
31116,2019-05-15,9,0,BE,08:00:00,2,0.166,0.14900,0.168000,0.099,0.129,NaN,0.139
31117,2019-03-21,9,0,BE,08:00:00,2,0.182,0.19300,0.162000,0.074,0.101,NaN,0.117
31118,2019-01-30,9,0,BE,08:00:00,1,0.173,0.16928,0.187717,0.289,0.354,NaN,0.416

In [3]:
df.describe()

,train,way,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
count,31119.000000,31119.0,31119.000000,29067.000000,26974.000000,24935.000000,27917.000000,24720.000000,21527.000000,31119.000000
mean,27.067965,0.0,1.999647,0.234769,0.251392,0.316867,0.207200,0.222167,0.209845,0.248754
std,15.979186,0.0,0.018798,0.166153,0.143506,0.150974,0.134709,0.147600,0.144858,0.157367
min,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.004000,0.004000,0.004000,0.000000
25%,13.000000,0.0,2.000000,0.094000,0.136000,0.196000,0.099000,0.107000,0.100000,0.121000
50%,26.000000,0.0,2.000000,0.192000,0.230000,0.312000,0.181000,0.188000,0.172000,0.220000
75%,41.000000,0.0,2.000000,0.363000,0.354000,0.420000,0.294000,0.322000,0.292000,0.360500
max,55.000000,0.0,2.000000,0.934000,0.937000,0.937000,0.969000,0.974000,0.974000,0.974000

In [4]:
#  k  train, s  station
trains = df.train.unique()
stations = df.station.unique()
print('trains:\n', sorted(trains))
print('stations:\n', sorted(stations))

trains:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]
stations:
 ['AA', 'AB', 'AC', 'AD', 'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AV', 'AW', 'AX', 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ']

In [5]:
# Sens de circulation: un seul est proposé dans le dataset
df.way.unique()

array([0])

In [8]:
df.columns

Index(['date', 'train', 'way', 'station', 'hour', 'composition', 'p1q0',
       'p2q0', 'p3q0', 'p0q1', 'p0q2', 'p0q3', 'p0q0'],
      dtype='object')

In [23]:
# enregistrement 406
# exemple de ligne avec que des nan dans les pxqx du trainset 
# date: 2019-01-07 , train: 1
date = '2019-01-07'
df.query('date==@date and train==1')

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091,0.216
58,2019-01-07,1,0,AI,06:00:00,2,0.097,0.166,NaN,0.216,0.230,0.201,0.275
116,2019-01-07,1,0,AJ,06:00:00,2,0.149,0.183,0.168,0.216,0.275,0.230,0.282
174,2019-01-07,1,0,AK,06:00:00,2,0.044,0.148,NaN,0.216,0.201,0.138,0.230
232,2019-01-07,1,0,AM,06:00:00,2,NaN,NaN,NaN,0.138,0.091,0.084,0.201
290,2019-01-07,1,0,AT,06:00:00,2,NaN,NaN,NaN,0.091,0.068,0.084,0.138
348,2019-01-07,1,0,AW,06:00:00,2,NaN,NaN,NaN,0.045,0.068,0.084,0.091
406,2019-01-07,1,0,AX,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0.045
464,2019-01-07,1,0,BB,06:00:00,2,0.162,0.185,NaN,0.275,0.282,0.230,0.282
522,2019-01-07,1,0,BD,06:00:00,2,NaN,NaN,NaN,0.045,NaN,NaN,0.068
580,2019-01-07,1,0,BE,06:00:00,2,NaN,NaN,NaN,0.045,0.068,NaN,0.084

In [25]:
# Stations du train 1
list(df.query('train==1').station.unique())

['AD', 'AI', 'AJ', 'AK', 'AM', 'AT', 'AW', 'AX', 'BB', 'BD', 'BE']

In [16]:
# Jeu de données pour un entraînement
# k  train, s  station
#  train 1, station 'AD'
# df.loc[(df.train==1) & (df.station=='AD')]
df.query('train==1 and station=="AD"')

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091,0.216
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106,0.216
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111,0.227
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108,0.229
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096,0.225
5,2019-01-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.218,0.154,0.106,0.238
6,2019-01-17,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.209,0.140,0.094,0.228
7,2019-01-18,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.207,0.141,0.104,0.217
8,2019-01-21,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.234,0.149,0.111,0.258
9,2019-01-22,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.223,0.151,0.102,0.242
10,2019-01-23,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.225,0.150,0.113,0.244
11,2019-01-24,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.218,0.156,0.117,0.241
12,2019-01-28,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.207,0.150,0.110,0.221
13,2019-01-29,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.142,0.100,0.221
14,2019-01-31,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.196,0.139,0.097,0.213
15,2019-02-01,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.175,0.129,0.095,0.189
16,2019-02-04,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.199,0.145,0.095,0.217
17,2019-02-05,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.199,0.139,0.095,0.216
18,2019-02-06,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.208,0.143,0.102,0.230
19,2019-02-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.226,0.163,0.117,0.243
20,2019-02-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.166,0.119,0.084,0.181
21,2019-02-12,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.190,0.132,0.094,0.207
22,2019-02-13,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.236,0.154,0.100,0.255
23,2019-02-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.216,0.149,0.109,0.232
24,2019-02-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.200,0.135,0.089,0.211
25,2019-02-18,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.196,0.132,0.088,0.207
26,2019-02-19,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.185,0.122,0.086,0.200
27,2019-02-21,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.187,0.127,0.100,0.204
28,2019-03-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.222,0.153,0.101,0.229
29,2019-03-12,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.234,0.163,0.111,0.248
30,2019-03-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.148,0.102,0.227
31,2019-03-18,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.206,0.148,0.099,0.215
32,2019-03-20,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.146,0.101,0.212
33,2019-03-22,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.174,0.127,0.097,0.182
34,2019-03-25,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.187,0.137,0.096,0.198
35,2019-03-26,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.203,0.149,0.110,0.219
36,2019-03-27,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.203,0.145,0.104,0.215
37,2019-03-28,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.144,0.100,0.220
38,2019-03-29,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.200,0.138,0.097,0.202
39,2019-04-01,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.191,0.142,0.103,0.202
40,2019-04-02,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.196,0.140,0.098,0.207
41,2019-04-04,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.185,0.125,0.091,0.196
42,2019-04-05,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.169,0.121,0.089,0.180
43,2019-04-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.193,0.129,0.087,0.204
44,2019-04-09,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.200,0.139,0.095,0.216
45,2019-04-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.175,0.120,0.082,0.193
46,2019-04-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.193,0.131,0.094,0.207
47,2019-04-12,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.211,0.153,0.101,0.223
48,2019-04-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.197,0.143,0.101,0.207
49,2019-04-18,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.212,0.137,0.094,0.234
50,2019-04-19,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.184,0.132,0.100,0.200
51,2019-05-06,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.144,0.087,0.213
52,2019-05-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.197,0.139,0.100,0.211
53,2019-05-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.177,0.138,0.094,0.188
54,2019-05-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.216,0.158,0.119,0.225
55,2019-05-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.199,0.148,0.105,0.209
56,2019-05-16,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.197,0.143,0.100,0.206
57,2019-05-20,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.203,0.150,0.102,0.215

In [27]:
# Liste de stations
print('train 1  : ', list(df.query('train==1').station.unique()))
print('train 20 : ', list(df.query('train==20').station.unique()))

train 1  :  ['AD', 'AI', 'AJ', 'AK', 'AM', 'AT', 'AW', 'AX', 'BB', 'BD', 'BE']
train 20 :  ['AE', 'AI', 'AJ', 'AK', 'AL', 'AO', 'AQ', 'BB', 'BC']

In [28]:
#  train 2, station 'AD'
df.query('train==2 and station=="AD"')

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
6226,2019-01-07,2,0,AD,07:00:00,2,0.2160,NaN,NaN,0.282,0.206,0.134,0.302
6227,2019-01-08,2,0,AD,06:00:00,2,0.2160,NaN,NaN,0.255,0.177,0.126,0.273
6228,2019-01-09,2,0,AD,06:00:00,2,0.2300,NaN,NaN,0.246,0.183,0.133,0.260
6229,2019-01-10,2,0,AD,06:00:00,2,0.2270,NaN,NaN,0.261,0.192,0.136,0.277
6230,2019-01-11,2,0,AD,06:00:00,2,0.2290,NaN,NaN,0.235,0.174,0.122,0.252
6231,2019-01-14,2,0,AD,06:00:00,2,0.2250,NaN,NaN,0.260,0.181,0.127,0.272
6232,2019-01-15,2,0,AD,06:00:00,2,0.2380,NaN,NaN,0.275,0.195,0.136,0.290
6233,2019-01-16,2,0,AD,06:00:00,2,0.2300,NaN,NaN,0.258,0.174,0.127,0.280
6234,2019-01-17,2,0,AD,06:00:00,2,0.2280,NaN,NaN,0.247,0.169,0.121,0.265
6235,2019-01-18,2,0,AD,06:00:00,2,0.2170,NaN,NaN,0.259,0.193,0.145,0.279
6236,2019-01-21,2,0,AD,07:00:00,2,0.2580,NaN,NaN,0.255,0.193,0.129,0.273
6237,2019-01-22,2,0,AD,06:00:00,2,0.2420,NaN,NaN,0.258,0.183,0.132,0.273
6238,2019-01-23,2,0,AD,06:00:00,2,0.2440,NaN,NaN,0.220,0.152,0.097,0.242
6239,2019-01-25,2,0,AD,06:00:00,2,0.2280,NaN,NaN,0.241,0.178,0.131,0.257
6240,2019-01-28,2,0,AD,06:00:00,2,0.2210,NaN,NaN,0.197,0.143,0.104,0.210
6241,2019-01-29,2,0,AD,07:00:00,2,0.2210,NaN,NaN,0.248,0.166,0.131,0.266
6242,2019-01-31,2,0,AD,06:00:00,2,0.2130,NaN,NaN,0.258,0.184,0.133,0.276
6243,2019-02-01,2,0,AD,06:00:00,2,0.1890,NaN,NaN,0.234,0.162,0.119,0.257
6244,2019-02-04,2,0,AD,06:00:00,2,0.2170,NaN,NaN,0.256,0.168,0.111,0.277
6245,2019-02-05,2,0,AD,06:00:00,2,0.2160,NaN,NaN,0.378,0.241,0.151,0.412
6246,2019-02-06,2,0,AD,06:00:00,2,0.2300,NaN,NaN,0.315,0.235,0.163,0.330
6247,2019-02-08,2,0,AD,06:00:00,2,0.2280,NaN,NaN,0.246,0.181,0.124,0.264
6248,2019-02-11,2,0,AD,06:00:00,2,0.1810,NaN,NaN,0.251,0.175,0.124,0.270
6249,2019-02-13,2,0,AD,07:00:00,2,0.2550,NaN,NaN,0.254,0.184,0.124,0.275
6250,2019-02-14,2,0,AD,06:00:00,2,0.2320,NaN,NaN,0.260,0.183,0.137,0.276
6251,2019-02-15,2,0,AD,06:00:00,2,0.2110,NaN,NaN,0.236,0.173,0.125,0.254
6252,2019-02-19,2,0,AD,06:00:00,2,0.2000,NaN,NaN,0.266,0.193,0.129,0.287
6253,2019-02-20,2,0,AD,06:00:00,2,0.2300,NaN,NaN,0.260,0.184,0.120,0.277
6254,2019-02-21,2,0,AD,06:00:00,2,0.2040,NaN,NaN,0.261,0.183,0.126,0.279
6255,2019-02-22,2,0,AD,06:00:00,2,0.2260,NaN,NaN,0.235,0.166,0.114,0.251
6256,2019-03-11,2,0,AD,06:00:00,2,0.2290,NaN,NaN,0.307,0.223,0.152,0.336
6257,2019-03-12,2,0,AD,06:00:00,2,0.2480,NaN,NaN,0.263,0.184,0.131,0.284
6258,2019-03-13,2,0,AD,06:00:00,2,0.2300,NaN,NaN,0.252,0.179,0.121,0.272
6259,2019-03-14,2,0,AD,06:00:00,2,0.2270,NaN,NaN,0.247,0.182,0.140,0.261
6260,2019-03-15,2,0,AD,06:00:00,2,0.2260,NaN,NaN,0.210,0.161,0.110,0.229
6261,2019-03-18,2,0,AD,06:00:00,2,0.2150,NaN,NaN,0.259,0.195,0.142,0.273
6262,2019-03-19,2,0,AD,06:00:00,2,0.2226,NaN,NaN,0.229,0.163,0.126,0.247
6263,2019-03-22,2,0,AD,06:00:00,2,0.1820,NaN,NaN,0.234,0.160,0.116,0.253
6264,2019-03-26,2,0,AD,06:00:00,2,0.2190,NaN,NaN,0.246,0.176,0.129,0.266
6265,2019-03-28,2,0,AD,06:00:00,2,0.2200,NaN,NaN,0.243,0.174,0.115,0.262
6266,2019-03-29,2,0,AD,06:00:00,2,0.2020,NaN,NaN,0.243,0.177,0.126,0.265
6267,2019-04-01,2,0,AD,06:00:00,2,0.2020,NaN,NaN,0.250,0.180,0.131,0.270
6268,2019-04-02,2,0,AD,06:00:00,2,0.2070,NaN,NaN,0.245,0.165,0.108,0.268
6269,2019-04-09,2,0,AD,06:00:00,2,0.2160,NaN,NaN,0.253,0.184,0.124,0.277
6270,2019-04-10,2,0,AD,06:00:00,2,0.1930,NaN,NaN,0.254,0.182,0.130,0.271
6271,2019-04-11,2,0,AD,06:00:00,2,0.2070,NaN,NaN,0.234,0.168,0.114,0.252
6272,2019-04-12,2,0,AD,06:00:00,2,0.2230,NaN,NaN,0.231,0.172,0.113,0.248
6273,2019-04-18,2,0,AD,06:00:00,2,0.2340,NaN,NaN,0.239,0.168,0.113,0.259
6274,2019-04-19,2,0,AD,06:00:00,2,0.2000,NaN,NaN,0.231,0.167,0.116,0.250
6275,2019-05-06,2,0,AD,07:00:00,2,0.2130,NaN,NaN,0.233,0.170,0.121,0.251
6276,2019-05-07,2,0,AD,06:00:00,2,0.2110,NaN,NaN,0.233,0.161,0.111,0.256
6277,2019-05-09,2,0,AD,06:00:00,2,0.2260,NaN,NaN,0.226,0.165,0.111,0.239
6278,2019-05-10,2,0,AD,06:00:00,2,0.1880,NaN,NaN,0.222,0.167,0.124,0.241
6279,2019-05-13,2,0,AD,06:00:00,2,0.2260,NaN,NaN,0.217,0.164,0.107,0.236
6280,2019-05-14,2,0,AD,06:00:00,2,0.2250,NaN,NaN,0.234,0.171,0.116,0.255
6281,2019-05-15,2,0,AD,06:00:00,2,0.2090,NaN,NaN,0.245,0.180,0.129,0.263